<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/user/">
                    <img style="border-radius: 20px;" src="/user/images/logo/logo-cinema.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/user/" class="active">Trang chủ</a>
                </li>
                <li>
                    <a href="/user/movie-list">Phim</a>
                </li>
                <li>
                    <a href="/user/cluster-list">Cụm rạp</a>
                </li>
                <li>
                    <a href="/user/movie-ticket-plan">Lịch chiếu</a>
                </li>
                <li>
                    <a href="/user/contact">Liên hệ</a>
                </li>
                <li>
                    <a href="#">Thành viên</a>
                    <ul class="submenu">
                        <% if(currentUser != null && currentUser.user_role == true) { %>
                            <li>
                                <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                            </li>
                            <li>
                                <a href="#">Vé của tôi</a>
                            </li>
                            <li>
                                <a href="/admin">Quản lý</a>
                            </li>
                            <% } else { %>
                                <li>
                                    <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="/user/ticket-list">Vé của tôi</a>
                                </li>
                                
                            <% } %>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    <% if(currentUser) { %>
                        <a><%=currentUser.user_name%></a>
                        <ul class="submenu">
                            <li>
                                <a href="/user/logout">Đăng xuất</a>
                            </li>
                        </ul>
                        <% } else { %>
                                <a href="/user/sign-in">Đăng nhập</a>
                            <% } %>

                    
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->

<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->

<!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="/user/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <h2 class="title">Đổi mật khẩu</h2>
                </div>
                <form action="/user/change-password"  class="account-form"  method="POST" >
                    <% if(message) {%>
                        <div class="alert alert-success" role="alert">
                            <center>
                                <%= message  %>
                            </center>
                        </div>
                        <% } %>
                            <% if(messageErr) {%>
                                <div class="alert alert-danger" role="alert">
                                    <center>
                                        <%= messageErr  %>
                                    </center>
                                </div>
                                <% } %>
                    
                    <div class="form-group">
                        <label for="oldpassword">Mật khẩu cũ</label>
                        <input type="password" placeholder="nhập mật khẩu cũ" id="oldpassword" name="oldpassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">Mật khẩu mới</label>
                        <input type="password" placeholder="nhập mật khẩu mới" id="newpassword" name="newpassword" required>
                    </div>
                    <div class="form-group">
                        <label for="repassword">Xác nhận mật khẩu</label>
                        <input type="password" placeholder="Xác nhận mật khẩu" id="repassword" name="repassword" required>
                    </div>
                    
                    <div class="form-group text-center">
                        <input type="submit" value="Gửi">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
<!-- ==========Sign-In-Section========== -->