<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/user/">
                    <img style="border-radius: 20px;" src="/user/images/logo/logo-cinema.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/user/">Trang chủ</a>
                </li>
                <li>
                    <a href="/user/movie-list">Phim</a>
                </li>
                <li>
                    <a href="/user/cluster-list">Cụm rạp</a>
                </li>
                <li>
                    <a href="/user/movie-ticket-plan">Lịch chiếu</a>
                </li>
                <li>
                    <a href="/user/contact" class="active">Liên hệ</a>
                </li>
                <li>
                    <a href="#">Thành viên</a>
                    <ul class="submenu">
                        <% if(currentUser != null && currentUser.user_role == true) { %>
                            <li>
                                <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                            </li>
                            <li>
                                <a href="/user/ticket-list">Vé của tôi</a>
                            </li>
                            <li>
                                <a href="/admin">Quản lý</a>
                            </li>
                            <% } else { %>
                                <li>
                                    <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="/user/ticket-list">Vé của tôi</a>
                                </li>
                                
                            <% } %>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    <% if(currentUser) { %>
                        <a><%=currentUser.user_name%></a>
                        <ul class="submenu">
                            <li>
                                <a href="/user/logout">Đăng xuất</a>
                            </li>
                        </ul>
                        <% } else { %>
                                <a href="/user/sign-in">Đăng nhập</a>
                            <% } %>

                    
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->
<!-- ==========Banner-Section========== -->
<section class="main-page-header speaker-banner bg_img" data-background="/user/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">Liên hệ</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/user/">
                        TRANG CHỦ
                    </a>
                </li>
                <li>
                    LIÊN HỆ VỚI CHÚNG TÔI
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Contact-Section========== -->
<section class="contact-section padding-top">
    <div class="contact-container">
        <div class="bg-thumb bg_img" data-background="/user/images/contact/contact.jpg"></div>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-7 col-lg-6 col-xl-5">
                    <div class="section-header-3 left-style">
                        <span class="cate">Liên hệ</span>
                        <h2 class="title">Nhập thông tin</h2>
                        <p>Chúng tôi rất vui khi được bạn đóng góp ý kiến. Chúng tôi sẽ phản hồi trong thời gian sớm nhất
                        </p>
                    </div>
                    <form class="contact-form" id="contact_form_submit">
                        <div class="form-group">
                            <label for="name">Tên <span>*</span></label>
                            <input type="text" placeholder="Enter Your Full Name" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span>*</span></label>
                            <input type="text" placeholder="Enter Your Email" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Chủ đề <span>*</span></label>
                            <input type="text" placeholder="Enter Your Subject" name="subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Ý kiến <span>*</span></label>
                            <textarea name="message" id="message" placeholder="Enter Your Message" required></textarea>
                        </div>
                        <div class="form-group">
                            <input type="Gưi" value="Gửi">
                        </div>
                    </form>
                </div>
                <div class="col-md-5 col-lg-6">
                    <div class="padding-top padding-bottom contact-info">
                        <div class="info-area">
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/user/images/contact/contact01.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">Số điện thoại</h6>
                                    <a href="Tel:82828282034">+1234 56789</a>
                                </div>
                            </div>
                            <div class="info-item">
                                <div class="info-thumb">
                                    <img src="/user/images/contact/contact02.png" alt="contact">
                                </div>
                                <div class="info-content">
                                    <h6 class="title">Email</h6>
                                    <a href="Mailto:info@gmail.com">info@Boleto .com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Section========== -->

<!-- ==========Contact-Counter-Section========== -->
<section class="contact-counter padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="130">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item active">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="35">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Members</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="47">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Followers</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="contact-counter-item">
                    <div class="contact-counter-thumb">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-counter-content">
                        <div class="counter-item">
                            <h5 class="title odometer" data-odometer-final="291">0</h5>
                            <h5 class="title">k</h5>
                        </div>
                        <p>Subscribers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Contact-Counter-Section========== -->