<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/user/">
                    <img style="border-radius: 20px;" src="/user/images/logo/logo-cinema.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/user/">Trang chủ</a>
                </li>
                <li>
                    <a href="/user/movie-list">Phim</a>
                </li>
                <li>
                    <a href="/user/cluster-list">Cụm rạp</a>
                </li>
                <li>
                    <a href="/user/movie-ticket-plan">Lịch chiếu</a>
                </li>
                <li>
                    <a href="/user/contact">Liên hệ</a>
                </li>
                <li>
                    <a href="#" class="active">Thành viên</a>
                    <ul class="submenu">
                        <% if(currentUser != null && currentUser.user_role == true) { %>
                            <li>
                                <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                            </li>
                            <li>
                                <a href="/user/ticket-list">Vé của tôi</a>
                            </li>
                            <li>
                                <a href="/admin">Quản lý</a>
                            </li>
                            <% } else { %>
                                <li>
                                    <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                                </li>
                                <li>
                                    <a href="/user/ticket-list">Vé của tôi</a>
                                </li>
                                
                            <% } %>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    <% if(currentUser) { %>
                        <a><%=currentUser.user_name%></a>
                        <ul class="submenu">
                            <li>
                                <a href="/user/logout">Đăng xuất</a>
                            </li>
                        </ul>
                        <% } else { %>
                                <a href="/user/sign-in">Đăng nhập</a>
                            <% } %>

                    
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->

<!-- ==========Banner-Section========== -->
<section class="speaker-banner bg_img" data-background="/user/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">Thông tin của bạn</h2>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Speaker-Single========== -->
<section class="speaker-single padding-top pt-lg-0">
    <div class="container">
        <div class="speaker-wrapper bg-six padding-top">
            <div class="speaker-thumb">
                <img src="/user/images/speaker/speaker05.jpg" alt="speaker">
            </div>
            <div class="speaker-content">
                <div class="author">
                    <h2 class="title">
                        <%- currentUser ? currentUser.user_name : 'Họ tên' %>
                        <a href=""> </a>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                    </h2>
                </div>
                <div class="speak-con-wrapper">
                    <div class="speak-con-area">                              
                        <div class="item">
                            <div class="item-content"> 
                                <span class="up">Email: <%- currentUser ? currentUser.user_email : '123@gmail.com' %> </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content">                          
                                <span class="up">Số điện thoại: <%- currentUser ? currentUser.user_phone : '012456789' %> </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 180px;">
                    <a style="margin-left: 20px; font-size: 18px; color: #81A9FF; display: inline;"
                    href="/user/change-password">
                        <img style="height: 18px; width: 15px;" src="/user/images/change-password.png" alt="password">
                        Mật khẩu
                    </a>
                    <a  style="margin-left: 450px; font-size: 18px; color: #81A9FF; display: inline;"
                         href="/user/edit-info">
                        <img style="height: 18px; width: 15px;" src="/user/images/edit-info.png" alt="edit">
                        Thay đổi thông tin 
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Speaker-Single========== -->